//- bandeau +40 postes
mj-section(padding='0')
    mj-column(width='600px')
        mj-image(alt='+40 postes à pourvoir en alternance chez nos entreprises partenaires' src='https://i.ibb.co/PmvMPfV/bandeau-Let.gif')/