mixin argsCard(arg)
    mj-section(background-color='#ffffff' padding-top='0')
        mj-column(width='50px')
            mj-image(padding='10px 0' alt='Icon mission' src='https://ecosup-assurance.fr')/
        mj-column(width='450px')
            mj-text(font-size='16px' line-height='20px' font-weight='700' color='#684092' text-transform='uppercase' align ='left' padding-top='0' padding-bottom='0') #{arg.titre}
            mj-text(font-size='16px' line-height='20px' font-weight='400' color='#2D3748' align='left' padding-top='0' padding-bottom='0') #{arg.texte}

- 
    const argsList = [
        {   
        'titre': 'Financement de l'apprentissage et des formations :',
        'texte': 'Votre taxe d'apprentissage permet de financer notre BTS Assurance et Bachelor Chargé(e) de Clientèles en Assurance et Banque voire l'ouverture de notre Mastère par apprentissage.'
        },
        {
        'titre': 'Développement des compétences :',
        'texte': 'En versant la taxe à Ecosup Assurance, {{contact.ENTREPRISE}} soutient le développement des compétences nécessaires pour répondre aux besoins des métiers de l'Assurance et de la Banque.'
        },
        {
        'titre': 'Soutien à l'insertion professionnelle :',
        'texte': 'Le versement de cette taxe à Ecosup Assurance, organisme de formation, aide à l'insertion professionnelle des jeunes.'
        },
        {
        'titre': 'Avantages pour les entreprises de l'Assurance et de la Banque',
        'texte': 'En versant la taxe d'apprentissage, {{contact.ENTREPRISE}} peut bénéficier d'une exonération si elle emploie des apprentis et respecte certaines conditions.'
        },
        {
        'titre': 'Contribution à l'économie :', 
        'texte': 'En soutenant nos formations supérieures en apprentissage, {{contact.ENTREPRISE}} contribue indirectement à la croissance économique en formant une main-d'œuvre qualifiée.'
        }
    ]

+arg